body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#page-contain {
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#username-guide-text, #password-guide-text {
    display: inline;
}

#login-btn:hover {
    background-color: #8fff8f;
    border: solid #8fff8f thick;
    font-weight: 750;
    text-decoration: underline double;
}

#login-btn:active {
    background-color: #00991c;
    border: solid #00991c thick
}

#login-btn {
    font-weight: 300;
    background-color: #00ff2f;
    border: solid #00ff2f thick;
    border-radius: 50px;
}

#create-account-btn:hover {
    background-color: #00ddff;
    border: solid #00ddff thick;
    font-weight: 750;
    text-decoration: underline double;
}

#create-account-btn:active {
    background-color: #0044ff;
    border: solid #0044ff thick
}

#create-account-btn {
    font-weight: 300;
    background-color: #00aaff;
    border: solid #00aaff thick;
    border-radius: 50px;
}

#create-ticket-section {
    display: flex;
    border: black solid thick;
    border-radius: 10px;
    width: 100%;
    height: 30%;
    padding: 10px;
    margin: 50px;
    align-items: center;
    justify-items: center;
}

#view-ticket-section {
    background-color: #444;
    display: flex;
    border: black solid thick;
    border-radius: 10px;
    width: 100%;
    height: 60%;
    padding: 10px;
    margin: 50px;
    align-items: center;
    justify-items: center;
}