#page-contain {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    display: flex;
}

#username-guide-text, #password-guide-text {
    display: inline;
}

#login-btn {
    text-decoration: underline;
    font-weight: 750;
    background-color: #00ff2f;
    border: solid #00ff2f thick;
    border-radius: 100px;
}

#create-account-btn {
    text-decoration: underline;
    font-weight: 750;
    background-color: #0000ff;
    border: solid #0000ff thick;
    border-radius: 100px;
}