body {
    width: 80vw;
    height: 87.5%;
    padding: 6.25%;
    margin: 0;
    background-color: #444;
}

#title-contain {
    padding: 10px;
    background-color: #00c3ffc4;
    border: solid #2600ff9f thick;
    border-radius: 40px;
    margin: 30px;
}

#page-contain {
    text-align: center;
    background-color: #AAA;
    padding: 40px;

    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

#username-guide-text, #password-guide-text {
    display: inline;
}

#login-btn:hover {
    background-color: #8fff8f;
    border: solid #8fff8f thick;
    font-weight: 750;
    text-decoration: underline double;
}

#login-btn:active {
    background-color: #00991c;
    border: solid #00991c thick
}

#login-btn {
    font-weight: 300;
    background-color: #00ff2f;
    border: solid #00ff2f thick;
    border-radius: 50px;
    border-spacing: 100px;
}

#create-account-btn:hover {
    background-color: #00ddff;
    border: solid #00ddff thick;
    font-weight: 750;
    text-decoration: underline double;
}

#create-account-btn:active {
    background-color: #0044ff;
    border: solid #0044ff thick;
    border: solid #0044ff thick;
}

#create-account-btn {
    font-weight: 300;
    background-color: #00aaff;
    border: solid #00aaff thick;
    border-radius: 50px;
}

#create-ticket-section {
    display: flex;
    flex-direction: column;
    border: black solid thick;
    border-radius: 10px;
    width: 100%;
    height: 30%;
    padding: 10px;
    margin: 50px;
    align-items: center;
    justify-items: center;
}

#create-ticket-section {
    background-color: #2600ff9f;
    border: solid grey 2px;
}

#create-ticket-btn {
    font-size: larger;
    font-weight: 500;
    background-color: #00c3ff9f;
}

#create-ticket-btn:hover {
    background-color: #00c3ffef;
    font-weight: 535;
    text-decoration: underline;
}

#create-ticket-btn:active {
    background-color: #0097c5ef;
}

#view-ticket-section {
    background-color: #444;
    display: flex;
    flex-direction: column;
    border: black solid thick;
    border-radius: 10px;
    width: 100%;
    height: 60%;
    padding: 10px;
    margin: 50px;
    align-content: center;
    align-items: center;
    justify-items: center;
}

#ticket-list-display {
    margin: 20px;
    background-color: #FFF;
    border: solid black thick;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
}

.ticket-disp {
    width: 90%;
    margin: 10px;
    background-color: #0044ff;
    height: 80px;
    border-radius: 5px;
}

.ticket-disp-container {
    display: flex;
}

.ticket-disp-info {

}

.ticket-disp-btns {
    border-radius: 5px;
}

.ticket-disp-container {
    display: flex;
}

.ticket-disp-info {

}

.ticket-disp-btns {

}